@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;

.warehouse-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-light-grey;
}

.city {
  border-radius: 50px;
  padding: 0.5rem;
  width: 88%;
  margin-left: 5%;
  border: 1px solid $secondary-color-cloud;
  padding: 12px 20px;
  margin-bottom: 3%;
}

::placeholder {
  color: $primary-color-instock-black;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  background-color: rgb(247, 248, 249, 0.3);
  box-shadow: 0.1px 0px 0.1px 0px;
  height: 100px;
  border-radius: 0px 0px 10px 10px;

  @include tablet {
    justify-content: flex-end;
  }

  &__save {
    background-color: $primary-color-instock-indigo;
    color: $primary-color-white;
    border-radius: 50px;
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    width: 42%;

    @include tablet {
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 32px;
      margin-right: 32px;
    }
  }
  
  &__cancel {
    background-color: $primary-color-white;
    color: $secondary-color-slate;
    border-radius: 50px;
    border: 1px solid $secondary-color-cloud;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    width: 42%;

    @include tablet {
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.warehouse__title {
  margin-left: 5%;
}

.warehouse-header {
  border-top: 1px solid $secondary-color-cloud;
  padding: 10px;
}

.heading {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 32px;
}

.container {
  position: relative;
  top: -50px;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: $primary-color-white;
  width: 90%;
  border-radius: 20px;
}

.big-container {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
.left-container {
  width: 100%;

  @include tablet {
    width: 50%;
  }
}
.right-container {
  width: 100%;

  @include tablet {
    width: 50%;
    border-left: 1px solid $secondary-color-cloud;
  }
}
