@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

// Warehouse List
.warehouse-list {
  background-color: $background-color-light-grey;

  // Container
  &__container {
    background-color: $primary-color-white;
    padding-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.3125rem 1rem $secondary-color-cloud;
    position: relative;
    top: -3.125rem;

    @include tablet {
      top: -6.25rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include desktop {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
}

// Warehouse List Header
.warehouse-list-header {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid $secondary-color-cloud;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }

  // Title
  &__title {
  }

  // Action Container
  &__action-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  // Search Container
  &__search-container {
    position: relative;

    @include desktop {
      width: 28.125rem;
    }
  }

  // Search Input
  &__search-input {
    margin-top: 1rem;
    border-radius: 2rem;
    border: 0.0625rem solid $secondary-color-cloud;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 2.25rem;
    width: 100%;

    @include tablet {
      margin-top: 0;
    }
  }

  // Search Icon
  &__search-icon {
    position: absolute;
    right: 0.625rem;
    top: 1.375rem;
    cursor: pointer;

    @include tablet {
      top: 0.375rem;
    }
  }

  // Add Link
  &__add-link {
  }

  // Add button
  &__add-button {
    width: 100%;
    background-color: $primary-color-instock-indigo;
    color: $primary-color-white;
    border-radius: 2rem;
    border: none;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: 600;

    @include tablet {
      margin-top: 0;
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 2rem;
    }
  }
}

// Warehouse List Bar
.warehouse-list-bar {
  display: none;
  justify-content: space-between;
  background-color: $background-color-light-grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include tablet {
    display: flex;
  }

  // Item
  &__item {
    color: $secondary-color-slate;

    &--warehouse {
      @include tablet {
        width: 20%;
      }
      @include desktop {
        width: 22.45%;
      }
    }

    &--address {
      @include tablet {
        width: 15%;
      }
      @include desktop {
        width: 26.53%;
      }
    }

    &--contact-name {
      @include tablet {
        width: 22%;
      }
      @include desktop {
        width: 18.37%;
      }
    }

    &--contact-information {
      @include tablet {
        width: 32%;
      }
      @include desktop {
        width: 24.49%;
      }
    }

    &--actions {
      text-align: right;
      @include tablet {
        width: 11%;
      }
      @include desktop {
        width: 8.16%;
      }
    }
  }

  // Sort Icon
  &__sort-icon {
    vertical-align: bottom;
    cursor: pointer;
  }
}

// Warehouse List List
.warehouse-list-list {
  // Item
  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid $secondary-color-cloud;
    padding: 1rem;

    @include tablet {
      flex-direction: row;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include desktop {
      &:hover {
        background-color: rgba($color: $primary-color-instock-indigo, $alpha: 0.2);
      }
    }
  }

  // Container
  &__container {
    display: flex;

    @include tablet {
      width: 89%;
    }
    @include desktop {
      width: 91.84%;
    }
  }

  // Left Container and Right Container
  &__left-container,
  &__right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @include tablet {
      flex-direction: row;
      width: fit-content;
      padding-left: 0;
      padding-right: 0;
    }
  }
  // Left Container
  &__left-container {
    @include tablet {
      width: 39.33%;
    }
    @include desktop {
      width: 53.33%;
    }
  }
  // Right Container
  &__right-container {
    @include tablet {
      width: 60.67%;
    }
    @include desktop {
      width: 46.67%;
    }
  }

  // Content Container
  &__content-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include tablet {
      flex-direction: row;
      padding-bottom: 0;
    }

    &--warehouse {
      @include tablet {
        width: 57.14%;
      }
      @include desktop {
        width: 45.84%;
      }
    }

    &--address {
      @include tablet {
        width: 42.86%;
      }
      @include desktop {
        width: 54.16%;
      }
    }

    &--contact-name {
      @include tablet {
        width: 40.74%;
      }
      @include desktop {
        width: 42.86%;
      }
    }

    &--contact-information {
      @include tablet {
        width: 59.26%;
      }
      @include desktop {
        width: 57.14%;
      }
    }
  }

  // Title
  &__title {
    color: $secondary-color-slate;
    font-weight: 600;

    @include tablet {
      display: none;
    }
  }

  // Warehouse Link
  &__warehouse-link {
    text-decoration: none;
  }

  // Warehouse Link Arrow
  &__warehouse-link-arrow {
    vertical-align: bottom;
  }

  // Warehouse Link Description
  &__warehouse-link-description {
    display: inline;
    color: $primary-color-instock-indigo;
    font-weight: 600;
  }

  // Action container
  &__action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      padding-left: 0;
      padding-right: 0;
      width: 11%;
      justify-content: flex-end;
    }
    @include desktop {
      width: 8.16%;
    }
  }

  // Action Icon
  &__action-icon {
    cursor: pointer;
    width: 1.5625rem;

    @include tablet {
      margin-left: 1rem;
    }
  }
}

// Animation for arrow
.warehouse-list-list__warehouse-link-arrow {
  transition: transform 0.3s ease;
}
.warehouse-list-list__warehouse-link:hover
  .warehouse-list-list__warehouse-link-arrow {
  transform: translateX(0.25rem);
}
