@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

// Warehouse List
.warehouse-list {
    background-color: $background-color-light-grey;

    // Container
    &__container {
        background-color: $primary-color-white;
        padding-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 4px;
        border: 1px solid black;
        position: relative;
        top: -50px;

        @include tablet {
            top: -100px;
            margin-left: 32px;
            margin-right: 32px;
        }

        @include desktop {
            margin-left: 64px;
            margin-right: 64px;
        }
    }
}

// Warehouse List Header
.warehouse-list-header {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $secondary-color-cloud;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: none;
    }

    // Title
    &__title {}

    // Action Container
    &__action-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    // Search Container
    &__search-container {
        position: relative;

        @include desktop {
            width: 300px;
        }
    }

    // Search Input
    &__search-input {
        margin-top: 16px;
        border-radius: 32px;
        border: 1px solid $secondary-color-cloud;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 36px;
        width: 100%;

        &:focus {
            outline: none;
            border: 1px solid $primary-color-instock-indigo;
        }

        @include tablet {
            margin-top: 0px;
        }
    }

    // Search Icon
    &__search-icon {
        position: absolute;
        right: 10px;
        top: 22px;
        cursor: pointer;

        @include tablet {
            top: 6px;
        }
    }

    // Add Link
    &__add-link {}

    // Add button
    &__add-button {
        width: 100%;
        background-color: $primary-color-instock-indigo;
        color: $primary-color-white;
        border-radius: 32px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 16px;
        cursor: pointer;
        font-weight: 600;

        @include tablet {
            margin-top: 0px;
            width: fit-content;
            padding-left: 16px;
            padding-right: 16px;
            margin-left: 32px;
        }
    }
}

// Warehouse List Bar
.warehouse-list-bar {
    display: none;
    justify-content: space-between;
    background-color: $background-color-light-grey;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;

    @include tablet {
        display: flex;
    }

    // Item
    &__item {
        color: $secondary-color-slate;
    }

    // Sort Icon
    &__sort-icon {
        float: inline-end;
        cursor: pointer;
    }
}

// Warehouse List List
.warehouse-list-list {

    // Item
    &__item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $secondary-color-cloud;
        padding: 16px;

        @include tablet {
            flex-direction: row;
            padding: 0;
        }
    }

    // Container
    &__container {
        display: flex;
    }

    // Left Container and Right Container
    &__left-container,
    &__right-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 8px;
        padding-right: 8px;

        @include tablet {
            flex-direction: row;
            width: fit-content;
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Content Container
    &__content-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        @include tablet {
            flex-direction: row;
            padding-bottom: 0;
        }
    }

    // Title
    &__title {
        color: $secondary-color-slate;
        font-weight: 600;

        @include tablet {
            display: none;
        }
    }

    // Warehouse Link
    &__warehouse-link {
        text-decoration: none;
    }

    // Warehouse Link Arrow
    &__warehouse-link-arrow {
        vertical-align: bottom;
    }

    // Warehouse Link Description
    &__warehouse-link-description {
        display: inline;
        color: $primary-color-instock-indigo;
        font-weight: 600;
    }

    // Action container
    &__action-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-left: 16px;
        padding-right: 16px;

        @include tablet {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Delete Icon
    &__delete-icon {
        cursor: pointer;
    }

    // Edit Icon
    &__edit-icon {
        cursor: pointer;
    }
}
// Animation for arrow
.warehouse-list-list__warehouse-link-arrow {
    transition: transform 0.3s ease; 
}
.warehouse-list-list__warehouse-link:hover .warehouse-list-list__warehouse-link-arrow {
    transform: translateX(4px); 
}