@use "../partials/mixins" as *;
@use "../partials/variables" as *;

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p {
  font-size: 0.938rem;
  line-height: 1.625rem;
  font-weight: 400;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

ul {
  list-style: none;
}

input, textarea, select {
  &:focus {
    outline: none;
    border: 1px solid $primary-color-instock-indigo;
  }
}
