@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

// Warehouse Details
.warehouse-details {
  background-color: $background-color-light-grey;

  // Container
  &__container {
    background-color: $primary-color-white;
    padding-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0 5px 16px $secondary-color-cloud;
    position: relative;
    top: -50px;

    @include tablet {
      top: -100px;
      margin-left: 32px;
      margin-right: 32px;
    }

    @include desktop {
      margin-left: 64px;
      margin-right: 64px;
    }
  }
}

// Warehouse Details Header
.warehouse-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $secondary-color-cloud;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;

  // Container
  &__container {
    display: flex;
  }

  // Arrow Back Link
  &__arrow-back-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Arrow Back Icon
  &__arrow-back-icon {
    vertical-align: middle;
  }

  // Title
  &__title {
    padding-left: 16px;
  }

  // Edit Link
  &__edit-link {
    background-color: $primary-color-instock-indigo;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @include tablet {
      width: 80px;
      border-radius: 32px;
    }
  }

  // Edit Icon
  &__edit-icon {
    filter: brightness(0) invert(1);
    width: 18px;
  }

  // Edit Text
  &__edit-text {
    display: none;
    color: $primary-color-white;

    @include tablet {
      display: block;
    }
  }
}

// Warehouse Details Content
.warehouse-details-content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $secondary-color-cloud;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;

  @include tablet {
    flex-direction: row;
  }

  // Uppder Container
  &__upper-container {
    padding-bottom: 16px;

    @include tablet {
      width: 40%;
      padding-bottom: 0;
    }
  }

  // Lower Container
  &__lower-container {
    display: flex;
    padding-top: 16px;

    @include tablet {
      width: 60%;
      padding-top: 0;
      border-left: 1px solid $secondary-color-cloud;
      padding-left: 32px;
    }
  }

  // Left Container
  &__left-container {
    width: 50%;
  }

  // Right Container
  &__right-container {
    width: 50%;
  }

  // Address Breaker
  &__address-breaker {
    display: none;

    @include tablet {
      display: block;
    }
  }

  // Title
  &__title {
    color: $secondary-color-slate;
    font-weight: 600;
  }

  // Description
  &__description {}
}