@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.header{
    background-color: $background-color-graphite;
    padding: 1rem 1rem 4.37rem 1rem;
    width: 100%;
    margin: 0 auto;

    @include tablet{
        padding: 2rem 2rem  8rem 2rem;
    }

    @include desktop{
        padding: 2rem 3.9rem 8rem 3.9rem;
    }

    &__nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo-section{
        @include tablet{
            
        }
    }

    &__logo{
        width: 7.5rem;
        padding-bottom: 1.25rem;

        @include tablet{
            padding-bottom: 0;
        }
    }



    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include tablet{
            width: 45%;

        }
        @include desktop{
            width: 35%;

        }
    }
    
    &__inventory-section,
    &__warehouse-section{
        width: 50%;
    }
    .header__modifier{
        display: block;
        text-align: center;
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 1.25rem;
        color: $secondary-color-cloud;
        text-decoration: none;
        font-size: 0.938rem;
        line-height: 1.625rem;
        font-weight: 600;
        padding-top: 0.37rem;

        @include tablet{
            font-size: 1rem;
            line-height: 1.75rem;
            font-weight: 600;
        }

        &:hover {
            text-decoration: underline;
        }
    }
    .header--active{
        background-color: $primary-color-instock-black;
        color: $primary-color-white;
    }
 
}