@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.in-stock-tag {
    background-color: rgba($supporting-color-green, 0.07);
    color: $supporting-color-green;
    border-radius: 1.5rem;
    height: 1.5rem;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;

    @include tablet {
        height: 1.625rem;
    }
}
